<h1 mat-dialog-title>New student</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Имя</mat-label>
    <input matInput [formControl]="firstname" required>
    <mat-error *ngIf="firstname.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Фамилия</mat-label>
    <input matInput [formControl]="lastname" required>
    <mat-error *ngIf="lastname.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Введите ваш e-mail</mat-label>
    <input matInput [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Класс</mat-label>
    <mat-select [formControl]="class" required>
      <mat-option value="Отличник">Отличник</mat-option>
      <mat-option value="Хорошист">Хорошист</mat-option>
      <mat-option value="Троечник">Троечник</mat-option>
    </mat-select>
    <mat-error *ngIf="class.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close>Отмена</button>
  <button mat-stroked-button color="primary">Добавить</button>
</div>
